# Dependencias
node_modules/

# Salida de compilación (Angular y Electron)
dist/
release/
.angular/

# Logs de errores
*.log
npm-debug.log*
firebase-debug.log

# Entornos y secretos
.env
src/environments/environment.prod.ts

# IDEs (Opcional)
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
